.list-pokemon {
  display: flex;
  justify-content: space-between;
}

.list-pokemon_element {
  border: 2px solid #88888830;
  border-radius: 10px;
  list-style-type: none;
  width: 200px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 10px;
  padding-top: 10px;
  margin: 1px 10px;

  --c: #88888830;
  background: linear-gradient(90deg, white 50%, var(--c) 0)
      calc(100% - var(--_p, 0%)) / 200%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) no-repeat,
    var(--_c, #0000);
  -webkit-background-clip: text, padding-box, padding-box;
  background-clip: text, padding-box, padding-box;
  transition: 0s, color 0.5s, background-color 0.5s;
}

.list-pokemon_element:hover {
  color: white;
  --_c: var(--c);
  --_p: 100%;
  transition: 0.5s, color 0s 0.5s, background-color 0s 0.5s;
}

.pokemon-element {
  display: flex;
  justify-content: space-around;
}

.list-pokemon_img {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: space-around;
}

.list-pokemon_description {
  justify-content: center;
}
